@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,600&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  color: #5d5c5f;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 200px 4fr 3fr;
      grid-template-columns: 100px 200px 4fr 3fr;
  -ms-grid-rows: 60px 1fr;
      grid-template-rows: 60px 1fr;
      grid-template-areas: "sidebar navbar navbar    navbar" "sidebar menu   main-body activities";
}

main #sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  border-right: 1px solid #9fa1b6;
}

main #sidebar .logo {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #sidebar .logo h4 {
  font-weight: 400;
  font-family: "Fredoka One", cursive;
  font-size: 25px;
  line-height: 70px;
  color: #000000;
  cursor: pointer;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

main #sidebar .logo h4:hover {
  color: #2c47c8;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

main #sidebar .selectors {
  height: calc(100% - 73px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #sidebar .selectors .home,
main #sidebar .selectors .settings {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main #sidebar .selectors .home:hover,
main #sidebar .selectors .settings:hover {
  background-color: rgba(106, 137, 204, 0.2);
}

main #sidebar .selectors .home.active,
main #sidebar .selectors .settings.active {
  position: relative;
}

main #sidebar .selectors .home.active::before,
main #sidebar .selectors .settings.active::before {
  content: "";
  position: absolute;
  border-left: 3px solid #2c47c8;
  top: 0;
  left: 0;
  height: 100%;
}

main #sidebar .selectors .home {
  margin-bottom: 50px;
}

main #sidebar .selectors .home img,
main #sidebar .selectors .settings img {
  height: 20px;
  width: 20px;
}

main #navbar {
  height: 60px;
  padding: 0 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: navbar;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "search . user-details user-img";
  -ms-grid-columns: 300px 1fr 100px 50px;
      grid-template-columns: 300px 1fr 100px 50px;
  -ms-grid-rows: 59px;
      grid-template-rows: 59px;
  border-bottom: 1px solid #9fa1b6;
}

main #navbar .nav-toggler,
main #navbar .navbar-head {
  display: none;
}

main #navbar .search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #navbar .search input.search-box {
  font-size: 17px;
  border: none;
  color: #2c47c8;
  width: 300px;
  padding-left: 5px;
}

main #navbar .search input.search-box::-webkit-input-placeholder {
  color: #2c47c8;
  font-size: 18px;
}

main #navbar .search input.search-box:-ms-input-placeholder {
  color: #2c47c8;
  font-size: 18px;
}

main #navbar .search input.search-box::-ms-input-placeholder {
  color: #2c47c8;
  font-size: 18px;
}

main #navbar .search input.search-box::placeholder {
  color: #2c47c8;
  font-size: 18px;
}

main #navbar .search input.search-box:focus {
  outline: none;
}

main #navbar .navbar-user {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: user-details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #navbar .navbar-user .notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #navbar .navbar-user .notifications::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f16a5e;
}

main #navbar .navbar-user .notifications img {
  padding-right: 10px;
  width: 37px;
  height: 30px;
  width: 30px;
}

main #navbar .navbar-user .user-details {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
}

main #navbar .navbar-user .user-details .user-name {
  font-size: 18px;
  line-height: 20px;
  color: #2c47c8;
  font-weight: 600;
}

main #navbar .navbar-user .user-details .user-type {
  font-size: 12px;
}

main #navbar .user-img {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: user-img;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #navbar .user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 8px 12px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 8px 12px rgba(0, 0, 0, 0.19);
}

main #navbar .user-img::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 31px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #44b04e;
}

main #menu {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main #menu ul.menu-options {
  list-style-type: none;
  width: 100%;
}

main #menu ul.menu-options li.menu-item {
  cursor: pointer;
  padding: 15px 0 15px 20px;
  margin-bottom: 10px;
}

main #menu ul.menu-options li.menu-item:first-child {
  margin-top: 10px;
}

main #menu ul.menu-options li.menu-item a.menu-link {
  text-decoration: none;
  font-size: 15px;
  color: #5d5c5f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

main #menu ul.menu-options li.menu-item:hover {
  background-color: rgba(106, 137, 204, 0.2);
}

main #menu ul.menu-options li.active {
  position: relative;
}

main #menu ul.menu-options li.active::before {
  content: "";
  position: absolute;
  border-left: 3px solid #2c47c8;
  top: 0;
  left: -2px;
  height: 100%;
}

main #menu ul.menu-options li.active a.menu-link {
  color: #2c47c8;
}

main #body {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: main-body;
  border-left: 1px solid #9fa1b6;
  border-right: 1px solid #9fa1b6;
}

main #activities {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: activities;
  padding: 15px 20px 20px 15px;
}

main #activities .activity-header h4 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

main #activities .user-activities .activity-list {
  list-style: none;
  padding-left: 0;
}

main #activities .user-activities .activity-list .activity {
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
}

main #activities .user-activities .activity-list .activity-details {
  font-size: 16px;
}

main #activities .user-activities .activity-list .activity-details .name {
  color: #2c47c8;
}

main #activities .user-activities .activity-list .activity-time {
  font-size: 12px;
}

main #activities .user-activities .activity-list .activity::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #44b04e;
  border-radius: 50%;
  left: -3px;
  top: 9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1240px;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0) and (max-width: 500px) {
  main {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "navbar navbar navbar";
    overflow: hidden;
  }
  main #sidebar,
  main #body,
  main #activities {
    display: none;
  }
  main #navbar {
    height: 60px;
    width: 100vw;
    padding: 0 20px;
    border: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: navbar;
    -webkit-box-shadow: 0 3px 4px -3px black;
            box-shadow: 0 3px 4px -3px black;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav-toggler nav-brand nav-user";
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main #navbar.close {
    background-color: #000000;
  }
  main #navbar .search,
  main #navbar .navbar-user {
    display: none;
  }
  main #navbar .nav-toggler {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav-toggler;
  }
  main #navbar .nav-toggler label.toggler-switch {
    height: 30px;
    width: 40px;
    position: relative;
    cursor: pointer;
  }
  main #navbar .nav-toggler label.toggler-switch.close .top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 48%;
    width: 30px;
    left: -1px;
    background-color: white;
  }
  main #navbar .nav-toggler label.toggler-switch.close .bottom,
  main #navbar .nav-toggler label.toggler-switch.close .center {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 48%;
    width: 30px;
    left: -1px;
    background-color: white;
  }
  main #navbar .nav-toggler label.toggler-switch.close .center {
    left: 0px;
    width: 30px;
  }
  main #navbar .nav-toggler label.toggler-switch span.top,
  main #navbar .nav-toggler label.toggler-switch span.center,
  main #navbar .nav-toggler label.toggler-switch span.bottom {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #000000;
    border-radius: 10px;
    -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  }
  main #navbar .nav-toggler label.toggler-switch span.top {
    top: 18%;
  }
  main #navbar .nav-toggler label.toggler-switch span.center {
    width: 25px;
    top: 48%;
  }
  main #navbar .nav-toggler label.toggler-switch span.bottom {
    top: 78%;
  }
  main #navbar .nav-toggler #toggle-menubar_checkbox {
    display: none;
  }
  main #navbar .nav-toggler,
  main #navbar .navbar-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #navbar .navbar-head {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: nav-brand;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #navbar .navbar-head .logo {
    color: #2c47c8;
    font-size: 25px;
    font-weight: 400;
    font-family: "Fredoka One", cursive;
  }
  main #navbar .navbar-head .logo.close {
    color: #f16a5e;
  }
  main #navbar .user-img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: nav-user;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: end;
  }
  main #navbar .user-img::after {
    top: 12px;
    left: 29px;
    height: 11px;
    width: 11px;
  }
  main #menu {
    background-color: #000000;
    padding-left: 20px;
    width: 100vw;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin: 0;
  }
  main #menu ul.menu-options li.menu-item {
    display: block;
    padding: 8px 0 8px 20px;
    margin-bottom: 0px;
  }
  main #menu ul.menu-options li.menu-item:first-child {
    margin-top: 0;
  }
  main #menu ul.menu-options li.menu-item:last-child {
    padding-bottom: 15px;
  }
  main #menu ul.menu-options li.menu-item a.menu-link {
    font-size: 16px;
    color: white;
    display: block;
    position: relative;
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span {
    position: relative;
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span.show::before, main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span.show::after {
    top: 50%;
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span.show::after {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span.show::before {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span::before, main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span::after {
    content: "";
    top: 40%;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: white;
    border-left: 1px solid;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span::before {
    left: calc(100% + 18px);
  }
  main #menu ul.menu-options li.menu-item a.menu-link.dropdown-toggle span::after {
    left: calc(100% + 9px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  main #menu ul.menu-options li.menu-item .dropdown-menu {
    padding-left: 20px;
    height: 0;
    overflow: hidden;
  }
  main #menu ul.menu-options li.menu-item .dropdown-menu.show {
    height: 100%;
  }
  main #menu ul.menu-options li.menu-item .dropdown-menu.hide {
    height: 0;
  }
  main #menu ul.menu-options li.menu-item .dropdown-menu .dropdown-item {
    padding-top: 8px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  main #menu ul.menu-options li.menu-item:hover {
    background-color: transparent;
  }
  main #menu ul.menu-options li.active::before {
    display: none;
  }
  main #menu ul.menu-options li.active a.menu-link {
    color: #f16a5e;
  }
}
