@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,600&display=swap");

$color-blue: #2c47c8;
$color-red: #f16a5e;
$color-green: #44b04e;
$color-blue-light: rgba(106, 137, 204, 0.2);
$color-text: #5d5c5f;
$border: #9fa1b6;
$color-black: #000000;

$border-light: 1px solid $border;

html,
body {
  width: 100%;
  height: 100%;
  color: $color-text;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 100px 200px 4fr 3fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar navbar navbar    navbar"
    "sidebar menu   main-body activities";

  #sidebar {
    grid-area: sidebar;
    border-right: $border-light;

    .logo {
      height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        font-weight: 400;
        font-family: "Fredoka One", cursive;
        font-size: 25px;
        line-height: 70px;
        color: $color-black;
        cursor: pointer;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
          0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover {
          color: $color-blue;
          text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
      }
    }

    .selectors {
      height: calc(100% - 73px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .home,
      .settings {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: $color-blue-light;
        }

        &.active {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            border-left: 3px solid $color-blue;
            top: 0;
            left: 0;
            height: 100%;
          }
        }
      }

      .home {
        margin-bottom: 50px;
      }

      .home img,
      .settings img {
        height: 20px;
        width: 20px;
      }
    }
  }

  #navbar {
    height: 60px;
    padding: 0 20px;
    grid-area: navbar;
    width: 100%;

    display: grid;
    grid-template-areas: "search . user-details user-img";
    grid-template-columns: 300px 1fr 100px 50px;
    grid-template-rows: 59px;
    border-bottom: $border-light;

    .nav-toggler,
    .navbar-head {
      display: none;
    }

    .search {
      grid-area: search;
      display: flex;
      align-items: center;

      input.search-box {
        font-size: 17px;
        border: none;
        color: $color-blue;
        width: 300px;
        padding-left: 5px;

        &::placeholder {
          color: $color-blue;
          font-size: 18px;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .navbar-user {
      grid-area: user-details;
      display: flex;
      align-items: center;

      .notifications {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 11px;
          top: 2px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: $color-red;
        }

        img {
          padding-right: 10px;
          width: 37px;
          height: 30px;
          width: 30px;
        }
      }

      .user-details {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: "Open Sans", sans-serif;

        .user-name {
          font-size: 18px;
          line-height: 20px;
          color: $color-blue;
          font-weight: 600;
        }

        .user-type {
          font-size: 12px;
        }
      }
    }

    .user-img {
      grid-area: user-img;
      position: relative;
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23),
          0 8px 12px rgba(0, 0, 0, 0.19);
      }

      &::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 31px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: $color-green;
      }
    }
  }

  #menu {
    grid-area: menu;
    width: 100%;

    ul.menu-options {
      list-style-type: none;
      width: 100%;

      li.menu-item {
        height: 100%;
        cursor: pointer;
        display: block;

        &:first-child {
          margin-top: 10px;
        }

        a.menu-link {
          display: block;
          height: 100%;
          padding: 15px 0 15px 20px;
          text-decoration: none;
          font-size: 15px;
          color: $color-text;
          font-family: "Open Sans", sans-serif;

          &.dropdown-toggle {
            span {
              position: relative;

              &.show {
                &::before,
                &::after {
                  top: 50%;
                }

                &::after {
                  transform: rotateY(45deg);
                }
                &::before {
                  transform: rotateX(-180deg);
                }
              }

              &::before,
              &::after {
                content: "";
                top: 40%;
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: black;
                transform: translate(-50%, -50%);
                transition: all 0.2s linear;
              }

              &::before {
                left: calc(100% + 18px);
              }
              &::after {
                left: calc(100% + 9px);
                transform: rotate(90deg);
              }
            }
          }
        }

        .dropdown-menu {
          padding-left: 40px;
          height: 0;
          overflow: hidden;

          &.show {
            height: 100%;
          }

          &.hide {
            height: 0;
          }

          .dropdown-item {
            display: block;
            color: $color-text;
            text-decoration: none;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            // font-weight: 600;
          }
        }

        &:hover {
          background-color: $color-blue-light;
        }
      }

      li.active {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          border-left: 3px solid $color-blue;
          top: 0;
          left: -2px;
          height: 100%;
        }

        a.menu-link {
          color: $color-blue;
        }
      }
    }
  }

  #body {
    grid-area: main-body;
    border-left: $border-light;
    border-right: $border-light;
  }

  #activities {
    grid-area: activities;
    padding: 15px 20px 20px 15px;

    .activity-header {
      h4 {
        margin-bottom: 10px;
        font-weight: 600;
        color: $color-black;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
      }
    }

    .user-activities {
      .activity-list {
        list-style: none;
        padding-left: 0;

        .activity {
          position: relative;
          padding-left: 15px;
          margin-bottom: 12px;
          font-family: "Open Sans", sans-serif;

          &-details {
            font-size: 16px;
            .name {
              color: $color-blue;
            }
          }

          &-time {
            font-size: 12px;
          }

          &::before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            background-color: $color-green;
            border-radius: 50%;
            left: -3px;
            top: 9px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px) {
// }

// /* Medium Devices, Desktops */
// @media only screen and (min-width: 992px) {
// }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1240px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0) and (max-width: 500px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "navbar navbar navbar";
    overflow: hidden;

    #sidebar,
    #body,
    #activities {
      display: none;
    }

    #navbar {
      height: 60px;
      width: 100vw;

      padding: 0 20px;
      border: none;
      grid-area: navbar;
      box-shadow: 0 3px 4px -3px black;

      display: grid;
      grid-template-areas: "nav-toggler nav-brand nav-user";
      grid-template-columns: 1fr 1fr 1fr;
      transition: all 0.3s ease-in-out;

      &.close {
        background: linear-gradient(to left, black 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
      }

      .search,
      .navbar-user {
        display: none;
      }

      .nav-toggler {
        grid-area: nav-toggler;

        label.toggler-switch {
          height: 30px;
          width: 40px;
          position: relative;
          cursor: pointer;

          &.close .top {
            transform: rotate(45deg);
            top: 48%;
            width: 30px;
            left: -1px;
            background-color: white;
          }

          &.close .bottom,
          &.close .center {
            transform: rotate(-45deg);
            top: 48%;
            width: 30px;
            left: -1px;
            background-color: white;
          }

          &.close .center {
            left: 0px;
            width: 30px;
          }

          span.top,
          span.center,
          span.bottom {
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $color-black;
            border-radius: 10px;
            transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
          }

          span.top {
            top: 18%;
          }
          span.center {
            width: 25px;
            top: 48%;
          }
          span.bottom {
            top: 78%;
          }
        }

        #toggle-menubar_checkbox {
          display: none;
        }
      }

      .nav-toggler,
      .navbar-head {
        display: flex;
        align-items: center;
      }

      .navbar-head {
        grid-area: nav-brand;
        justify-content: center;

        .logo {
          color: $color-blue;
          font-size: 25px;
          font-weight: 400;
          font-family: "Fredoka One", cursive;

          &.close {
            color: $color-red;
          }
        }
      }

      .user-img {
        grid-area: nav-user;
        display: flex;
        align-items: center;
        justify-self: end;

        &::after {
          top: 12px;
          left: 29px;
          height: 11px;
          width: 11px;
        }
      }
    }

    #menu {
      background-color: $color-black;
      padding-left: 20px;
      width: 100vw;
      transition: transform 0.3s ease-in-out;
      margin: 0;
      transform: translate(100%, -1px);

      ul.menu-options {
        li.menu-item {
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            padding-bottom: 15px;
          }

          a.menu-link {
            padding: 8px 0 8px 20px;
            font-size: 16px;
            color: white;
            display: block;

            &.dropdown-toggle {
              span {
                &::before,
                &::after {
                  background-color: white;
                }
              }
            }
          }

          .dropdown-menu {
            .dropdown-item {
              color: white;
              font-size: 16px;
            }
          }

          &:hover {
            background-color: transparent;
          }
        }

        li.active {
          &::before {
            display: none;
          }

          a.menu-link {
            color: $color-red;
          }
        }
      }
    }
  }
}
